<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card mt-4">
        <div class="card-header">
          <div class="row">
            <div class="col-10">
              <h2><b>Estoque</b></h2>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-success float-right" routerLink="/home/estoque/lancamento">
                <i class="fa fa-plus"></i>&nbsp;Lançamento
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-datatable [rows]="estoques" [columns]="columns" class="bootstrap striped" [externalPaging]="true"
            [count]="resposta?.totalElements" [loadingIndicator]="true" [offset]="page?.pageNumber"
            [limit]="resposta?.size" (page)='setPage($event)' [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="50">
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
