<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-10">
              <strong>Alunos</strong>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-primary" routerLink="/home/aluno">
                <i class="fa fa-plus"></i>&nbsp;Cadastrar
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-datatable
          [rows]="alunos" [columns]="columns" class="bootstrap striped"
          [externalPaging]="true" [count]="resposta?.totalElements" [loadingIndicator]="true"
          [offset]="page.pageNumber" [limit]="resposta.size" (page)='setPage($event)'
          [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50">
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
